.all-category-nav{
  position: relative;
}

.all-categories-form{
  margin-left: -500px;
  position: relative;
}

.btn-all-categories,
.btn-all-categories:link,
.btn-all-categories:visited{
  background: none;
  border: none;
  padding: 0.2rem;
  margin-left: -3.0rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: background-color 0.5s;
}

.btn-all-categories:link,
.btn-all-categories:hover{
  background-color: red;
  cursor: pointer;

}

.all-categories-search{
  width: 1.8rem;
  height: 1.5rem;
  stroke: #333;
}
.all-categories-search[type='search']{
  width: 320px;
  height: 100%;
  padding:7px 10px;
}

/* second section */
.container{
  width: 100%;
}

.company-comparison-text{
  width: 80%;
  margin: 0 auto;
  padding: 2.4rem;
}
.company-comparison-text h1,
.company-comparison-text em{
  font-size: 1.8rem;
  color: #333;
  text-align: left;
}



.all-categories-content{
  grid-template-columns: 40% 60%;
  gap: 0.5rem;
}
.all-categories-content div,
hr,
.all-categories-h1{
  text-align: left;
  margin: 1.2rem;
}

.ac-links{
  color: #333;
  font-size: 1.2rem;
  line-height: 1.7;
}
.all-categories-content{
  width: 80%;
  margin: 0 auto;
}
.AC-links-container-1{
  background-color: #fff;
 
}
.AC-links-container-2,
.second-grid{
  background-color: #fff;
 
}
.AC-links-container-2-content{
  text-align: left;
  color: #333;
  padding: 0.7rem 0.7rem ;
  box-shadow: 2px 2px  10px #e8dfdf;
}

.AC-links-container-2-content  strong{
  font-size: 1.3rem;
}

.AC-links-container-2-content p{
  text-align: left;
  color: #333333bc;
  line-height: 1.8;
  font-size: 1.2rem;

}

.rating-icons{
  margin-top: 0;
  margin-bottom: 0;
}
.rating-icons:last-child{
  fill: #4aecb3;
  stroke: none;
}

.pagination-section{
  width: 65%;
  margin: 0 auto;
}

.pagination{
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  border: 1px solid #777;

}
.btn-pagination,
.btn-pagination:link,
.btn-pagination:visited{
  height: 2.5rem;
  width: 2.5rem;
  background: none;
  border: none;
  /* overflow: hidden; */
}

.btn-pagination:link,
.btn-pagination:hover{
  background-color: #eee;
}

/* .btn-right{
  background-color: red;
} */

.page-links{
  color: #0000ff;
  font-size: 1.2rem;
  border-right: 1px solid #777;
  padding: 0.6rem;
}

.page-links:hover{
  background-color: #eee;
}

.pagination .first{
  border-left: 1px solid #777;
  background-color: #0000ff;
  color: #fff;
  border-left: 1px solid #777;
}
.pagination .first:hover{
  background-color: #eee;
  color: #0000ff;
}
.cheveron,
.cheveron:link,
.cheveron:visited{
  height: 1rem;
}



/* ////////////////////// */
/* --REVIEW SECTION-- */
/* ////////////////////// */

main{
  margin-top: 1.2rem;
}
main .grid--2-col{
  gap:0;
  line-height: 1.5;
}

.main-content{
  width: 80%;
  margin: 0 auto;
}

.first-review-content{
  border-right: 1px solid #777;
  border-left: none;
}
.second-review-content{
  border-left: 1px solid #777;
  border-right: none;
}

/* main .review.recent-review-content{
  margin-left: 1.2rem;
} */

main .recent-review-content  strong{
  font-size: 1.9rem;
}

main .recent-review-content p em{
  font-size: 1.6rem;
  color: #333;
  font-weight: 800;
}
main .recent-review-content a{
  font-size: 1.6rem;
  color: #3737f8;
}

main .recent-review-content{
  box-shadow: none;
}

.btn-review{
  width: 30%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  background: none;
  border-radius: .3rem;
  border: 1px solid  #0000ff;
  color: blue;
}

main .rating-icons{
  width: 30px;
  margin-top:1rem;
}
main strong.last-update{
  background-color: #ff0000;
  border-radius: 3rem;
  font-size: .7rem;
  letter-spacing: .1rem;
  padding: .3rem;
  color: #fff;
}

main .second-review-content .recent-review-content{
  margin-left: 8rem;
}


.rate-circle{
  background-color: green;
  outline: 6px solid #0080006b;
  margin-top: 1.7rem;
  margin-bottom: 1.2rem;
  padding: 2.4rem;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.rate-circle b{
  font-size: 3rem;
  color: #fff;
}

.rate-circle hr{
  width: 100%;
  margin: 0 auto;
}
main .recent-review-content p.score{
  font-size: 2rem;
}

.review-data-content{
  width: 80%;
  margin: 0 auto;
}
main .data{
  background-color: #fff;
  box-shadow:  2px 2px 5px #eee;
  padding: 1rem;
  line-height: 2;
}

main .data .section-header{
  font-size: 2.2rem;
  color: #0000ff77;
}
main .data p img{
  width: 100px;
}

main .section-header{
  text-align: center;
}
main .data .nav-items{
  color: #333;
}
main .data  .logo-icon{
  stroke: #000;
  
}
main .data p{
  font-size: 1.5rem;
  color: #000;
}
main .data p:last-child{
  font-size: 1rem;
  color: #000;
}
main .review-data-content data p{
  margin-top: 0;
}